* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    padding: 40px 90px;
    font-size: 50px;
    line-height: 38px;
}

.logo {
    margin-right: 100px;
}

.menu {
    font-size: 30px;
    padding-top: 20px;
    flex-grow: 1;
}

.menu li:hover {
    color: red;
}

.menu ol {
    display: flex;
    list-style-type: none;
}

.menu li {
    margin-right: 20px;
}


.log-in {
    margin-top: 13px;
    background-color: rgb(223, 219, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    height: 55px;
    border-radius: 35px;
    font-size: 30px;
}

.log-in:hover {
    color: white;
    border-radius: 35px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.log-out:hover {
    color: white;
    border-radius: 35px;
    background-color: black;
    display: flex;
    justify-content: center;
}

.log-out {
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px;
    height: 55px;
    font-size: 30px;
    margin-right: 10px;
}

.settings {
    margin-top: 20px;
    margin-left: 30px;
    border-left: solid 3px rgb(223, 219, 219);
    border-radius: 3px;
    height: 40px;
}

.settings img {
    margin-left: 40px;
    height: 40px;
}

.settings img:hover {
    transform: scale(-1);
}

body {
    font-family: 'Amatic SC', cursive;
    font-family: 'Oswald', sans-serif;
}

.main {
    margin-top: 4%;
    display: flex;
    margin-bottom: 70px;
    justify-content: space-between;
}

h1 {
    font-size: 60px;
}

.leftcont {
    background-color: rgb(225, 222, 222);
    width: 950px;
    height: 500px;
    margin-left: 90px;
    font-size: 20px;
    border-radius: 9px;
}

.leftcont__text {
    margin-left: 60px;
    margin-top: 45px;
}

.rightcont {
    margin-right: 15%;
    margin-left: 6%;

}

.rightcont img {
    height: 465px;
    border-radius: 15px;
}

.rightcont__text {
    margin-left: 35px;
    font-size: 32px;
}

.rightcont__text span {
    display: inline-block;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.janr h1 {
    text-align: center;
}

.janr h2 {
    justify-content: center;
    align-items: center;
}

.janrs {
    padding-top: 5%;
    justify-content: center;
    display: flex;
}

.prim img {
    height: 300px;
    width: 300px;
    margin-right: 100px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 30px;
}

.variant__back {
    background-color: rgb(225, 222, 222);
    height: 750px;
    width: 420px;
    border-radius: 10%;
    margin-left: 33px;
}

.variant h2 {
    font-size: 33px;
    text-align: center;
}

.variant {
    margin: 0 30px;
    font-size: 20px;
    text-align: center;
}

.var {
    margin: 0 20px;
}

.Kritica {
    padding-top: 70px;
}